html, body { height: 100vh; width: 100vw;}
body {
    margin: 0;
    background-image: url("../images/kotori.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70vh;
    background-color: #f7fcfe;
	text-align:center;

    display: flex;
    justify-content: center;
    align-items: center;
}

.start-button {
	display: block;
	margin-left: auto;
	margin-right: auto;
/*	margin-top: ;
	margin-bottom: 20px;*/
    padding-top: 10px;
    width: 40vw;
    height: 8vh;
    color: #FFF;
    font-family: 'Noto Serif SC', serif;
    font-size: 5vh;
    letter-spacing: 0.8vw;
    vertical-align: -50%;
    text-decoration: none;
    background-color: #47885e; /*ボタン色*/
    border-radius: 12px; /*角丸*/
    border-bottom: solid 12px #005243; /*下線色*/
}

.start-button:hover{
    background-color: #3eb370;/*ボタン色*/
    border-radius: 12px; /*角丸*/
}

.start-button:active {
    margin-top: 30px;
	margin-bottom: 22px;
    border-bottom: none;
}

#retry-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 10px;
    width: 450px;
    height: 80px;
    color: #FFF;
    font-family: 'Noto Serif SC', serif;
    font-size: 50px;
    letter-spacing: 2px;
    vertical-align: -50%;
    text-decoration: none;
    background-color: #47885e; /*ボタン色*/
    border-radius: 12px; /*角丸*/
    border-bottom: solid 12px #005243; /*下線色*/
}

#retry-button:hover{
    background-color: #3eb370;/*ボタン色*/
    border-radius: 12px; /*角丸*/
}

#retry-button:active {
    margin-top: 30px;
    margin-bottom: 22px;
    border-bottom: none;
}

div#message{
    padding-bottom: 3vh;
    font-size: 8vh;
    font-family: 'Noto Serif SC', serif;
    color: #2b2b2b;
}

div#message2{
    font-family: 'Noto Serif SC', serif;
    color: #2b2b2b;
    font-size: 8vh;
}

div#subMsg{
    padding-top: 5vh;
    font-size: 120%;
}

div#game {
    height: 50vh;
}

div#word {
    font-family: 'Noto Serif SC', serif;
	font-weight: bold;
    font-size: 55px;
    color: #101010;
}

div#typeword {
    font-family: 'Noto Serif SC', serif;
    font-size: 8vh;
    color: #101010;
    height: 10vh;
    padding-bottom: 2vh;
}

div#type {
    font-family: 'Noto Serif SC', serif;
    font-size: 40px;
    color: #202020;
/*    margin-top: 5vh;*/
    height: 6vh;
}

div#subMsg {
    font-family: 'Noto Serif SC', serif;
    color: #2b2b2b;
    height: 10vh;
}

kbd {
    font-family: 'Noto Serif SC', serif;
    font-size: 20px;
    padding: 3px 5px;
    border-radius: 5px;
    border: 0.2vh solid #bbb;
    background: #eee;
}
